body{
    background-image:url("../images/movie-background.jpg") ;
    background-repeat: repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: white;
   
}

h2{
    text-align: center;
    color: white;
}

#register{
    width: 40%;
    margin: auto 600px;
    color: white;
    
}

#landing{
    background-color:blue;
    width: 35%;
    height: 400px;
    margin: 100px 700px;
    text-align: center;
    color: white;
    padding: 40px;
    border-radius: 15px;
    
}

a{
    color:white;
}