h2{
    margin: 50px;
   font-weight: bold;
}

a{
    
}


#login{
    width: 50%;
    background-color: azure;
    margin: 50px;
    padding :20px;
    
}

input{
    background-color: rgb(33, 66, 95);
}

button{
    width: auto;
    
}